
#titleContainer {
    padding-top: 120px;
    width: 18%;
    height: 100px;

    text-align: center;

    margin: 0 auto 0 auto;
}

#titleContainer h1 {
    font-size: 50px;
}

#titleContainer p {
    margin-left: 26px;
    width: 120%;
    font-size: 20px;
}